cedana
*.so
client_config.yaml

.gitconfig
.vscode/*
*.log
notes.md

*.csv
tmp

cedana_restore

# local benchmarking
data.json
/benchmarks/

venv

compose-dev.yaml

go.work
go.work.sum

*.tar
*.tar.gz
rootfs
