name: Benchmark and Publish 
on: 
  schedule: 
    - cron: '0 0 * * 0'
  workflow_dispatch:

# Cancel any preceding run on the pull request.
concurrency:
  group: docker-test-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/cedana-dev' }}

jobs:
  build:
    
    permissions:
      contents: 'read'
      packages: 'read'
      id-token: 'write'

    runs-on: ubicloud-standard-8
    
    steps:
    - name: Checkout cedana
      uses: actions/checkout@v2

    - id: 'auth'
      name: 'Authenticate to Google Cloud'
      uses: 'google-github-actions/auth@v1'
      env: 
        WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.WORKLOAD_IDENTITY_POOL }}
      with:
        workload_identity_provider: ${{ env.WORKLOAD_IDENTITY_PROVIDER }}
        service_account: 'benchmark-uploader@cedana-benchmarking.iam.gserviceaccount.com'

    - name: Run Benchmarking Script (${{ matrix.os }})
      run: sudo -E make -C scripts/ci benchmark 
      env:
        GOOGLE_APPLICATION_CREDENTIALS: ${{ steps.auth.outputs.credentials_file_path }}
        GOOGLE_CLOUD_PROJECT: ${{ steps.auth.outputs.project_id }}
        GITHUB_ACTOR: ${{ github.actor }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
        CEDANA_URL: ${{ secrets.CHECKPOINTSVC_URL }}
        CHECKPOINTSVC_TOKEN: ${{ secrets.CHECKPOINTSVC_TOKEN }}
        SIGNOZ_ACCESS_TOKEN: ${{ secrets.SIGNOZ_ACCESS_TOKEN }}
