name: Build

permissions:
  contents: read
  actions: read
  packages: read

on:
  workflow_call:
    inputs:
      ref:
        type: string
        description: "The branch, tag, or SHA to run on"
        required: false
        default: ""
      debug:
        type: boolean
        description: "Run with debugging enabled"
        required: false
        default: false
      cedana:
        type: boolean
        description: "Build Cedana"
        required: false
        default: false
      plugins:
        type: boolean
        description: "Build plugins"
        required: false
        default: false
      image:
        type: boolean
        description: "Build Docker image"
        required: false
        default: false
      image_name:
        type: string
        description: "Name of the Docker image to build"
        required: false
        default: "cedana/cedana-helper"
      test_image:
        type: boolean
        description: "Build test Docker image"
        required: false
        default: false
      test_image_name:
        type: string
        description: "Name of the test Docker image to build"
        required: false
        default: "cedana/cedana-test"

jobs:
  cedana:
    name: Cedana
    runs-on: runs-on=${{github.run_id}}/runner=1cpu-${{ matrix.arch }}/extras=s3-cache
    strategy:
      fail-fast: true
      matrix:
        arch:
          - amd64
          - arm64
    if: inputs.cedana || inputs.image
    container:
      image: golang:1.25rc3-bullseye
      credentials:
        username: ${{ vars.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}
    steps:
      - uses: runs-on/action@v2
      - uses: actions/checkout@v4
        with:
          repository: cedana/cedana # required for workflows reusing this workflow
          ref: ${{ inputs.ref }}
          fetch-depth: 0
          fetch-tags: true
          submodules: recursive
          token: ${{ secrets.GIT_CI_PAT }}

      - name: Mark git dir as safe
        run: git config --global --add safe.directory "$(pwd)"

      - name: Setup debugging session
        uses: mxschmitt/action-tmate@v3
        if: inputs.debug
        with:
          limit-access-to-actor: true

      - name: Build
        run: |
          VERSION=${{ github.head_ref || github.ref_name }}
          make cedana VERSION=$VERSION -j $(nproc)
          echo $VERSION > ./cedana-version.txt

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: cedana-${{ matrix.arch }}
          path: |
            ./cedana
            ./cedana-version.txt

  plugin:
    name: Plugin
    runs-on: runs-on=${{github.run_id}}/runner=1cpu-${{ matrix.arch }}/extras=s3-cache
    strategy:
      fail-fast: false
      matrix:
        plugin:
          - runc
          - containerd
          - crio
          - kata
          - cloud-hypervisor
          - k8s
          - slurm
          - storage/cedana
          - storage/s3
          - storage/gcs
        arch:
          - amd64
          - arm64
    if: inputs.plugins || inputs.image
    container:
      image: golang:1.25rc3-bullseye
      credentials:
        username: ${{ vars.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}
    steps:
      - uses: runs-on/action@v2
      - uses: actions/checkout@v4
        with:
          repository: cedana/cedana # required for workflows reusing this workflow
          ref: ${{ inputs.ref }}
          fetch-depth: 0
          fetch-tags: true
          submodules: recursive
          token: ${{ secrets.GIT_CI_PAT }}

      - name: Mark git dir as safe
        run: git config --global --add safe.directory "$(pwd)"

      - name: Setup debugging session
        uses: mxschmitt/action-tmate@v3
        if: inputs.debug
        with:
          limit-access-to-actor: true

      - name: Set plugin name
        env:
          PLUGIN: ${{ matrix.plugin }}
        run: |
          PLUGIN=$(echo $PLUGIN | sed 's/\//-/g')
          echo "PLUGIN=$PLUGIN" >> $GITHUB_ENV

      - name: Build
        env:
          PLUGIN: ${{ env.PLUGIN }}
        run: |
          VERSION=${{ github.head_ref || github.ref_name }}
          make ${PWD}/libcedana-${PLUGIN}.so VERSION=$VERSION -j $(nproc)
          echo $VERSION > ./plugin-version.txt

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: plugin-${{ matrix.arch }}-${{ env.PLUGIN }}
          path: |
            ./libcedana-*.so
            ./plugin-version.txt

  image:
    name: Image
    runs-on: runs-on=${{github.run_id}}/runner=4cpu-${{ matrix.arch }}/extras=s3-cache
    strategy:
      fail-fast: false
      matrix:
        arch:
          - amd64
          - arm64
    if: inputs.image
    needs: [cedana, plugin]
    permissions:
      contents: read
      packages: write
    steps:
      - uses: runs-on/action@v2
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ inputs.ref }}
          fetch-tags: true
          submodules: recursive
          token: ${{ secrets.GIT_CI_PAT }}

      - name: Download binary
        uses: actions/download-artifact@v4
        with:
          name: cedana-${{ matrix.arch }}

      - name: Download k8s plugin
        uses: actions/download-artifact@v4
        with:
          path: .
          pattern: plugin-${{ matrix.arch }}-k8s
          merge-multiple: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: |
            ${{ inputs.image_name }}

      - name: Login to Docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Setup debugging session
        uses: mxschmitt/action-tmate@v3
        if: inputs.debug
        with:
          limit-access-to-actor: true

      # XXX: We simply build with PREBUILT_BINARIES=1 to avoid any build environment-related
      # compatibility issues with Go plugins.

      - name: Build and generate manifest
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: linux/${{ matrix.arch }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            PREBUILT_BINARIES=1
            ALL_PLUGINS=0
            VERSION=${{ github.head_ref || github.ref_name }}
          outputs: |
            type=image,name=${{ inputs.image_name }},push-by-digest=true,name-canonical=true,push=true
          cache-from: type=s3,blobs_prefix=cache/${{ github.repository }}/,manifests_prefix=cache/${{ github.repository }}/${{ matrix.arch }},region=${{ env.RUNS_ON_AWS_REGION }},bucket=${{ env.RUNS_ON_S3_BUCKET_CACHE }}
          cache-to: type=s3,blobs_prefix=cache/${{ github.repository }}/,manifests_prefix=cache/${{ github.repository }}/${{ matrix.arch }},region=${{ env.RUNS_ON_AWS_REGION }},bucket=${{ env.RUNS_ON_S3_BUCKET_CACHE }},mode=max

      - name: Export digest
        run: |
          mkdir -p /tmp/digests
          mkdir -p /tmp/image-name
          digest="${{ steps.build.outputs.digest }}"
          touch "/tmp/digests/${digest#sha256:}"
          echo "${{ inputs.image_name }}" > /tmp/image-name/name.txt

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ matrix.arch }}
          path: /tmp/digests/*
          if-no-files-found: error

      - name: Upload image name
        if: ${{ matrix.arch == 'amd64' }}
        uses: actions/upload-artifact@v4
        with:
          name: image-name
          path: /tmp/image-name/*
          if-no-files-found: error

  test_image:
    name: Test Image
    runs-on: runs-on=${{github.run_id}}/runner=4cpu-${{ matrix.arch }}/tag=${{ matrix.tag }}/extras=s3-cache
    strategy:
      fail-fast: false
      matrix:
        tag:
          - latest
          - cuda
        arch:
          - amd64
          - arm64
    if: inputs.test_image
    permissions:
      contents: read
      packages: write
    steps:
      - uses: runs-on/action@v2
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ inputs.ref }}
          fetch-tags: true
          submodules: recursive
          token: ${{ secrets.GIT_CI_PAT }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: |
            ${{ inputs.test_image_name }}

      - name: Login to Docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Setup debugging session
        uses: mxschmitt/action-tmate@v3
        if: inputs.debug
        with:
          limit-access-to-actor: true

      - name: Build and generate manifest
        id: build
        uses: docker/build-push-action@v6
        with:
          context: ./test
          file: ./test/${{ matrix.tag == 'cuda' && 'cuda.' || '' }}Dockerfile
          push: true
          platforms: linux/${{ matrix.arch }}
          labels: ${{ steps.meta.outputs.labels }}
          outputs: |
            type=image,name=${{ inputs.test_image_name }},push-by-digest=true,name-canonical=true,push=true
          cache-from: type=s3,blobs_prefix=cache/${{ github.repository }}/,manifests_prefix=cache/${{ github.repository }}/test-${{ matrix.tag }}-${{ matrix.arch }},region=${{ env.RUNS_ON_AWS_REGION }},bucket=${{ env.RUNS_ON_S3_BUCKET_CACHE }}
          cache-to: type=s3,blobs_prefix=cache/${{ github.repository }}/,manifests_prefix=cache/${{ github.repository }}/test-${{ matrix.tag }}-${{ matrix.arch }},region=${{ env.RUNS_ON_AWS_REGION }},bucket=${{ env.RUNS_ON_S3_BUCKET_CACHE }},mode=max

      - name: Export digest
        run: |
          mkdir -p /tmp/digests
          mkdir -p /tmp/image-name
          digest="${{ steps.build.outputs.digest }}"
          touch "/tmp/digests/${digest#sha256:}"
          echo "${{ inputs.test_image_name }}" > /tmp/image-name/name.txt

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: test-digests-${{ matrix.tag }}-${{ matrix.arch }}
          path: /tmp/digests/*
          if-no-files-found: error

      - name: Upload image name
        if: ${{ matrix.arch == 'amd64' && matrix.tag == 'latest' }}
        uses: actions/upload-artifact@v4
        with:
          name: test-image-name
          path: /tmp/image-name/*
          if-no-files-found: error
