name: Build

on:
  push:
  workflow_dispatch:
      inputs:
        debug_build:
          type: boolean
          description: 'Run build with tmate debugging enabled'
          required: false
          default: false

concurrency:
  group: cedana-build-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.22'

      # Enable tmate debugging of manually-triggered workflows if the input option was provided
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_build }}

      - name: Setup CI
        run:  sudo -E make -C scripts/ci setup-build

      - name: Build
        run: sudo -E go build -v ./...
