name: Build

on: [push]

concurrency:
  group: cedana-build-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.22'

      - name: Setup CI
        run: sudo -E make -C scripts/ci setup

      - name: Build
        run: go build -v ./...
