name: Check

permissions:
  contents: read

on:
  workflow_call:
    inputs:
      shell:
        type: boolean
        description: "Check shell scripts"
        required: false
        default: false

jobs:
  shell:
    name: Shell
    if: inputs.shell
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: cedana/cedana # required for workflows reusing this workflow
          fetch-depth: 0
          fetch-tags: true

      - name: shellcheck
        uses: reviewdog/action-shellcheck@v1
        with:
          reporter: github-pr-review
          pattern: |
            *.bash
            *.sh
            *.bats
          check_all_files_with_shebangs: true
          shellcheck_flags: "--external-sources --severity=warning"
