name: Download

# This workload downloads external dependencies (binaries)  and uploads them as artifacts,
# that can be used in other workflows.

permissions:
  contents: write

on:
  workflow_call:
    inputs:
      cedana_version:
        type: string
        description: Version for Cedana binaries (branch name, tag or "release" for latest release)
        required: false
        default: "none"
      criu_version:
        type: string
        description: Version for CRIU binaries (branch name, tag or "release" for latest release)
        required: false
        default: "none"
      gpu_version:
        type: string
        description: Version for GPU binaries (branch name, tag or "release" for latest release)
        required: false
        default: "none"
      streamer_version:
        type: string
        description: Version for streamer binaries (branch name, tag or "release" for latest release)
        required: false
        default: "none"
      controller_version:
        type: string
        description: Version for controller binaries (branch name, tag or "release" for latest release)
        required: false
        default: "none"
      containerd_runtime_version:
        type: string
        description: Version for containerd runtime binaries (branch name, tag or "release" for latest release)
        required: false
        default: "none"
      helm_chart_version:
        type: string
        description: Version for Cedana Helm chart (branch name, tag or "release" for latest release)
        required: false
        default: "none"

jobs:
  cedana:
    name: Cedana
    if: ${{ inputs.cedana_version != 'none' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        arch:
          - amd64
          - arm64
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Download cedana from S3
        run: |
          mkdir -p cedana
          cd cedana
          REF="${{ github.head_ref || github.ref_name }}"
          REF_SAFE="${REF//\//-}"
          aws s3 cp s3://cedana-bin/${{ inputs.cedana_version }}/${REF_SAFE}/cedana-${{ matrix.arch }}
          echo "${REF}" > cedana-version.txt

      - name: Upload cedana
        uses: actions/upload-artifact@v4
        with:
          name: cedana-${{ matrix.arch }}
          path: ./cedana/*

      - name: Get digest
        env:
          IMAGE_NAME: ${{ (inputs.cedana_version == 'release' || startsWith(inputs.cedana_version, 'v')) && 'cedana/cedana-helper' || 'cedana/cedana-helper-test' }}
          TAG: ${{ inputs.cedana_version == 'release' && 'latest' || inputs.cedana_version }}
        run: |
          mkdir -p /tmp/digests
          mkdir -p /tmp/image-name
          TAG=$(echo $TAG | sed 's/\//-/g')
          docker pull --platform=linux/${{ matrix.arch }} $IMAGE_NAME:$TAG
          digest=$(docker inspect --format='{{index .RepoDigests 0}}' $IMAGE_NAME:$TAG | cut -d'@' -f2)
          touch "/tmp/digests/${digest#sha256:}"
          echo "$IMAGE_NAME" > /tmp/image-name/name.txt

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ matrix.arch }}
          path: /tmp/digests/*
          if-no-files-found: error

      - name: Upload image name
        if: ${{ matrix.arch == 'amd64' }}
        uses: actions/upload-artifact@v4
        with:
          name: image-name
          path: /tmp/image-name/*
          if-no-files-found: error

  plugin:
    name: Plugin
    if: ${{ inputs.cedana_version != 'none' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        plugin:
          - runc
          - containerd
          - crio
          - kata
          - cloud-hypervisor
          - k8s
          - slurm
          - storage/cedana
          - storage/s3
          - storage/gcs
        arch:
          - amd64
          - arm64
    permissions:
      id-token: write # required for OIDC
      contents: read
    steps:
      - name: Set plugin name
        env:
          PLUGIN: ${{ matrix.plugin }}
        run: |
          PLUGIN=$(echo $PLUGIN | sed 's/\//-/g')
          echo "PLUGIN=$PLUGIN" >> $GITHUB_ENV
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Download plugin from S3
        run: |
          REF="${{ github.head_ref || github.ref_name }}"
          REF_SAFE="${REF//\//-}"
          PLUGIN_NAME="${{ matrix.plugin }}"
          PLUGIN_SAFE="${PLUGIN_NAME//\//-}"

          aws s3 cp \
            s3://cedana-bin/${{ inputs.cedana_version }}/${REF_SAFE}/libcedana-${PLUGIN_SAFE}.so-${{ matrix.arch }} \
            libcedana-${PLUGIN_SAFE}.so

          echo "${REF}" > plugin-version.txt

      - name: Upload plugin
        uses: actions/upload-artifact@v4
        with:
          name: plugin-${{ matrix.arch }}-${{ env.PLUGIN }}
          path: |
            ./libcedana-*.so
            ./plugin-version.txt

  criu:
    name: CRIU
    if: ${{ inputs.criu_version != 'none' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        arch:
          - amd64
          - arm64
    permissions:
      id-token: write # required for OIDC
      contents: read
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Download CRIU from S3
        run: |
          mkdir -p criu
          REF="${{ github.head_ref || github.ref_name }}"
          REF_SAFE="${REF//\//-}"

          aws s3 cp \
            s3://cedana-bin/${{ inputs.criu_version }}/${REF_SAFE}/criu-${{ matrix.arch }} \
            criu/criu

          echo "${REF_SAFE}" > criu/criu-version.txt

      - name: Upload CRIU
        uses: actions/upload-artifact@v4
        with:
          name: criu-${{ matrix.arch }}
          path: ./criu/*

  gpu:
    name: GPU
    if: ${{ inputs.gpu_version != 'none' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        arch:
          - amd64
          - arm64
    permissions:
      id-token: write # required for OIDC
      contents: read
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Download GPU binaries from S3
        run: |
          mkdir -p gpu
          REF="${{ github.head_ref || github.ref_name }}"
          REF_SAFE="${REF//\//-}"

          aws s3 cp \
            s3://cedana-bin/${{ inputs.gpu_version }}/${REF_SAFE}/cedana-gpu-controller-${{ matrix.arch }} \
            gpu/cedana-gpu-controller

          aws s3 cp \
            s3://cedana-bin/${{ inputs.gpu_version }}/${REF_SAFE}/libcedana-gpu.so-${{ matrix.arch }} \
            gpu/libcedana-gpu.so

          aws s3 cp \
            s3://cedana-bin/${{ inputs.gpu_version }}/${REF_SAFE}/libcedana-gpu-tracer.so-${{ matrix.arch }} \
            gpu/libcedana-gpu-tracer.so

          echo "${REF}" > gpu/gpu-version.txt

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: gpu-${{ matrix.arch }}
          path: ./gpu/*

  streamer:
    name: Streamer
    if: ${{ inputs.streamer_version != 'none' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        arch:
          - amd64
          - arm64
    permissions:
      id-token: write # required for OIDC
      contents: read
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Download streamer from S3
        run: |
          mkdir -p streamer
          REF="${{ github.head_ref || github.ref_name }}"
          REF_SAFE="${REF//\//-}"

          aws s3 cp \
            s3://cedana-bin/${{ inputs.streamer_version }}/${REF_SAFE}/cedana-image-streamer-${{ matrix.arch }} \
            streamer/cedana-image-streamer

          echo "${REF}" > streamer/streamer-version.txt

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: streamer-${{ matrix.arch }}
          path: ./streamer/*

  controller:
    name: Controller
    if: ${{ inputs.controller_version != 'none' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        arch:
          - amd64
          - arm64
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Get digest
        env:
          IMAGE_NAME: ${{ (inputs.controller_version == 'release' || startsWith(inputs.controller_version, 'v')) && 'cedana/cedana-controller' || 'cedana/cedana-controller-test' }}
          TAG: ${{ inputs.controller_version == 'release' && 'latest' || inputs.controller_version }}
        run: |
          mkdir -p /tmp/digests
          mkdir -p /tmp/image-name
          TAG=$(echo $TAG | sed 's/\//-/g')
          docker pull --platform=linux/${{ matrix.arch }} $IMAGE_NAME:$TAG
          digest=$(docker inspect --format='{{index .RepoDigests 0}}' $IMAGE_NAME:$TAG | cut -d'@' -f2)
          touch "/tmp/digests/${digest#sha256:}"
          echo "$IMAGE_NAME" > /tmp/image-name/name.txt

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: controller-digests-${{ matrix.arch }}
          path: /tmp/digests/*
          if-no-files-found: error

      - name: Upload image name
        if: ${{ matrix.arch == 'amd64' }}
        uses: actions/upload-artifact@v4
        with:
          name: controller-image-name
          path: /tmp/image-name/*
          if-no-files-found: error

  containerd-runtime-runc:
    name: Containerd Runtime
    if: ${{ inputs.containerd_runtime_version != 'none' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        arch:
          - amd64
          - arm64
    permissions:
      id-token: write # required for OIDC
      contents: read
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Download runtime from S3
        run: |
          mkdir -p containerd-runtime-runc
          REF="${{ github.head_ref || github.ref_name }}"
          REF_SAFE="${REF//\//-}"

          aws s3 cp \
            s3://cedana-bin/${{ inputs.containerd_runtime_version }}/${REF_SAFE}/cedana-shim-runc-v2-${{ matrix.arch }} \
            containerd-runtime-runc/cedana-shim-runc-v2

          echo "${REF}" > containerd-runtime-runc/containerd-runtime-version.txt

      - name: Upload runtime runc artifacts
        uses: actions/upload-artifact@v4
        with:
          name: containerd-runtime-${{ matrix.arch }}-runc
          path: ./containerd-runtime-runc/*
