name: Nightly

# This workflow runs all the large tests and benchmarks nightly.

on:
  schedule:
    - cron: "0 5 * * *" # Every day at 1:00 AM (EST)
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: "Run with debugging enabled"
        required: false
        default: false

concurrency:
  group: ${{ github.repository }}-nightly-${{ github.ref }}
  cancel-in-progress: true

jobs:
  download:
    name: Download
    uses: ./.github/workflows/download.yml
    secrets: inherit
    with:
      cedana_version: ${{ vars.NIGHTLY_CEDANA_VERSION }}
      criu_version: ${{ vars.NIGHTLY_CRIU_VERSION }}
      gpu_version: ${{ vars.NIGHTLY_GPU_VERSION }}
      streamer_version: ${{ vars.NIGHTLY_STREAMER_VERSION }}
      helm_chart_version: ${{ vars.NIGHTLY_HELM_CHART_VERSION }}
      controller_version: ${{ vars.NIGHTLY_CONTROLLER_VERSION }}
      containerd_runtime_version: ${{ vars.NIGHTLY_RUNTIME_SHIM_VERSION }}

  test:
    name: Test
    uses: ./.github/workflows/test.yml
    needs: download
    secrets: inherit
    with:
      debug: ${{ startsWith(github.event_name, 'workflow') && inputs.debug }}
      large: true # include large tests
      runner: 16cpu # use larger runner
      runner_gpu: 16cpu-1gpu # use larger runner
      parallelism: 8
      parallelism_gpu: 4
      post_summary_slack: nightly

  bench:
    name: Bench
    uses: ./.github/workflows/bench.yml
    needs: download
    secrets: inherit
    with:
      debug: ${{ startsWith(github.event_name, 'workflow') && inputs.debug }}
      runtimes: cedana
      samples: 2
      push_results: true
      results_dataset: cedana_nightly
      comparison_previous: true
      comparison_runtime: true
      post_summary_slack: nightly
      runner: 8cpu-64g-1xL40S # use larger runner (bench will automatically run larger metrics)
