name: Publish

permissions:
  contents: write
  packages: write

on:
  workflow_call:
    inputs:
      debug:
        type: boolean
        description: "Run with debugging enabled"
        required: false
        default: false
      github:
        type: boolean
        description: "Publish to GitHub releases"
        required: false
        default: false
      aws_s3:
        type: boolean
        description: "Publish to AWS S3"
        required: false
        default: false
      aws_s3_path:
        type: string
        description: "S3 path to publish to"
        required: false
        default: cedana
      dockerhub:
        type: boolean
        description: "Publish images to DockerHub"
        required: false
        default: false
      dockerhub_latest:
        type: boolean
        description: "Publish latest tag(s) to DockerHub"
        required: false
        default: false
      post_summary:
        type: boolean
        description: "Post summary to Slack"
        required: false
        default: false

jobs:
  github:
    name: GitHub
    if: inputs.github
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch:
          - amd64
          - arm64
      max-parallel: 1 # DO NOT CHANGE: required to run in order
    steps:
      - name: Download binary
        uses: actions/download-artifact@v4
        id: download-binaries-cedana
        with:
          name: cedana-${{ matrix.arch }}

      - name: Download plugins
        uses: actions/download-artifact@v4
        with:
          path: .
          pattern: plugin-${{ matrix.arch }}*
          merge-multiple: true

      - name: Setup debugging session
        uses: mxschmitt/action-tmate@v3
        if: inputs.debug
        with:
          limit-access-to-actor: true

      - name: Create tarballs
        run: |
          tar -czf cedana-${{ matrix.arch }}.tar.gz cedana
          find -maxdepth 1 -type f -name "libcedana*.so" -exec sh -c 'f="{}"; base=$(basename "$f" .so); tar -czf "${base}-${{ matrix.arch }}.tar.gz" "$f"' \;

      - name: Create release
        if: matrix.arch == 'amd64'
        id: create-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.head_ref || github.ref_name }}
        run: |
          gh release create "$tag" \
              --repo="$GITHUB_REPOSITORY" \
              --title="$tag" \
              --generate-notes

      - name: Upload assets
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.head_ref || github.ref_name }}
        run: |
          gh release upload --clobber "$tag" \
              --repo="$GITHUB_REPOSITORY" \
              *.tar.gz \

  aws_s3:
    name: AWS S3 Upload
    if: inputs.aws_s3
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch:
          - amd64
          - arm64

    permissions:
      id-token: write # required for OIDC
      contents: read

    steps:
      - name: Download binary
        uses: actions/download-artifact@v4
        with:
          name: cedana-${{ matrix.arch }}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Upload to S3
        run: |
          REF="${{ github.head_ref || github.ref_name }}"
          SHA="${{ github.sha }}"

          aws s3 cp \
            cedana \
            s3://cedana-bin/${{ inputs.aws_s3_path }}/${{ matrix.arch }}/${REF_SAFE}/cedana \
            --metadata arch=${{ matrix.arch }},ref=${REF},sha=${SHA}

  aws_s3_plugin:
    name: AWS S3 Plugin Upload
    if: inputs.aws_s3
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        plugin:
          - runc
          - containerd
          - crio
          - kata
          - cloud-hypervisor
          - k8s
          - slurm
          - storage/cedana
          - storage/s3
          - storage/gcs
        arch:
          - amd64
          - arm64
    steps:
      - name: Set plugin name
        env:
          PLUGIN: ${{ matrix.plugin }}
        run: |
          PLUGIN=$(echo $PLUGIN | sed 's/\//-/g')
          echo "PLUGIN=$PLUGIN" >> $GITHUB_ENV

      - name: Download plugin
        uses: actions/download-artifact@v4
        id: download-plugin
        with:
          name: plugin-${{ matrix.arch }}-${{ env.PLUGIN }}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Upload to S3
        run: |
          REF="${{ github.head_ref || github.ref_name }}"
          REF_SAFE="${REF//\//-}"
          SHA="${{ github.sha }}"
          PLUGIN_NAME="${{ matrix.plugin }}"
          # Sanitize plugin name by replacing slashes with hiphens
          PLUGIN_SAFE="${PLUGIN_NAME//\//-}"
          aws s3 cp \
          libcedana-${PLUGIN_SAFE}.so \
          s3://cedana-bin/${{ inputs.aws_s3_path }}/${{ matrix.arch }}/${REF_SAFE}/libcedana-${PLUGIN_SAFE}.so \
          --metadata arch=${{ matrix.arch }},ref=${REF},sha=${SHA}

  aws_s3_metadata:
    name: Generate Plugin registry_map.json
    if: inputs.aws_s3
    runs-on: ubuntu-latest
    needs: aws_s3_plugin
    strategy:
      fail-fast: false
      matrix:
        arch:
          - amd64
          - arm64

    steps:
      - name: Download all plugin artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: plugin-${{ matrix.arch }}-*
          path: artifacts

      - name: Upload metadata.json to S3
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Generate registry_map.json
        run: |
          set -euo pipefail

          REF="${{ github.head_ref || github.ref_name }}"
          REF_SAFE="${REF//\//-}"
          ARCH="${{ matrix.arch }}"

          jq -n \
            --arg arch "$ARCH" \
            '{ arch: $arch, plugins: {} }' \
            > registry_map.json

          find artifacts/plugin-${ARCH}-* -type f -name "libcedana-*.so" | while read -r file; do
            fname="$(basename "$file")"

            plugin="${fname#libcedana-}"
            plugin="${plugin%.so}"

            checksum="sha256:$(sha256sum "$file" | cut -d' ' -f1)"

            jq \
              --arg plugin "$plugin" \
              --arg name "$fname" \
              --arg checksum "$checksum" \
              '
              .plugins[$plugin] |=
                (
                  . // {
                    type: "SUPPORTED",
                    libraries: []
                  }
                )
              | .plugins[$plugin].libraries += [{
                  name: $name,
                  checksum: $checksum
                }]
              ' registry_map.json > tmp.json && mv tmp.json registry_map.json
          done

          aws s3 cp \
            registry_map.json \
            s3://cedana-bin/${{ inputs.aws_s3_path }}/${ARCH}/${REF_SAFE}/registry_map.json \
            --content-type application/json

  dockerhub:
    name: DockerHub (multi-arch)
    if: inputs.dockerhub
    runs-on: ubuntu-latest
    steps:
      - name: Download digests
        uses: actions/download-artifact@v4
        continue-on-error: true
        with:
          path: /tmp/digests
          pattern: digests-*
          merge-multiple: true

      - name: Download image name
        uses: actions/download-artifact@v4
        continue-on-error: true
        with:
          path: /tmp/image-name
          name: image-name
          merge-multiple: true

      - name: Download digests (test, latest)
        uses: actions/download-artifact@v4
        continue-on-error: true
        with:
          path: /tmp/test-digests-latest
          pattern: test-digests-latest-*
          merge-multiple: true

      - name: Download digests (test, CUDA)
        uses: actions/download-artifact@v4
        continue-on-error: true
        with:
          path: /tmp/test-digests-cuda
          pattern: test-digests-cuda-*
          merge-multiple: true

      - name: Download image name (test)
        uses: actions/download-artifact@v4
        continue-on-error: true
        with:
          path: /tmp/test-image-name
          name: test-image-name

      - name: Check directories and set variables
        id: check_dirs
        run: |
          if [ -d /tmp/digests ]; then
            echo "DIGESTS_EXISTS=true" >> $GITHUB_OUTPUT
            echo "IMAGE_NAME=$(cat /tmp/image-name/name.txt)" >> $GITHUB_OUTPUT
          else
            echo "DIGESTS_EXISTS=false" >> $GITHUB_OUTPUT
          fi
          if [ -d /tmp/test-digests-latest ] && [ -d /tmp/test-digests-cuda ]; then
            echo "TEST_DIGESTS_EXISTS=true" >> $GITHUB_OUTPUT
            echo "TEST_IMAGE_NAME=$(cat /tmp/test-image-name/name.txt)" >> $GITHUB_OUTPUT
          else
            echo "TEST_DIGESTS_EXISTS=false" >> $GITHUB_OUTPUT
          fi

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Docker meta
        if: steps.check_dirs.outputs.DIGESTS_EXISTS == 'true'
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ steps.check_dirs.outputs.IMAGE_NAME }}
          tags: |
            type=raw,value=${{ github.sha }}
            type=raw,value=${{ github.head_ref || github.ref_name }}
            ${{ inputs.dockerhub_latest && 'type=raw,value=latest' || '' }}

      - name: Create manifest list and push
        if: steps.check_dirs.outputs.DIGESTS_EXISTS == 'true'
        working-directory: /tmp/digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ steps.check_dirs.outputs.IMAGE_NAME }}@sha256:%s ' *)

      - name: Inspect image
        if: steps.check_dirs.outputs.DIGESTS_EXISTS == 'true'
        run: |
          # check if push was successful
          docker buildx imagetools inspect ${{ steps.check_dirs.outputs.IMAGE_NAME }}:${{ steps.meta.outputs.version }}
          # check if commit sha matches with the latest commit sha
          # we only match docker hub image as both images should be the same
          echo $(docker run -i --rm ${{ steps.check_dirs.outputs.IMAGE_NAME }}:${{ steps.meta.outputs.version }} -c "cedana -v")

      - name: Docker meta (test, latest)
        if: steps.check_dirs.outputs.TEST_DIGESTS_EXISTS == 'true'
        id: meta-test-latest
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ steps.check_dirs.outputs.TEST_IMAGE_NAME }}
          tags: |
            type=raw,value=${{ github.sha }}
            type=raw,value=${{ github.head_ref || github.ref_name }}
            ${{ inputs.dockerhub_latest && 'type=raw,value=latest' || '' }}

      - name: Create manifest list and push (test, latest)
        if: steps.check_dirs.outputs.TEST_DIGESTS_EXISTS == 'true'
        working-directory: /tmp/test-digests-latest
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ steps.check_dirs.outputs.TEST_IMAGE_NAME }}@sha256:%s ' *)

      - name: Docker meta (test, CUDA)
        if: steps.check_dirs.outputs.TEST_DIGESTS_EXISTS == 'true'
        id: meta-test-cuda
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ steps.check_dirs.outputs.TEST_IMAGE_NAME }}
          tags: |
            type=raw,value=${{ github.sha }}
            type=raw,value=${{ github.head_ref || github.ref_name }}
            ${{ inputs.dockerhub_latest && 'type=raw,value=cuda' || '' }}

      - name: Create manifest list and push (test, CUDA)
        if: steps.check_dirs.outputs.TEST_DIGESTS_EXISTS == 'true'
        working-directory: /tmp/test-digests-cuda
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ steps.check_dirs.outputs.TEST_IMAGE_NAME }}@sha256:%s ' *)

  # post-summary:
  #   name: Post Summary
  #   runs-on: ubuntu-latest
  #   needs: ["github", "cloudsmith", "dockerhub"]
  #   if: inputs.post_summary
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4
  #       with:
  #         fetch-depth: 0
  #         fetch-tags: true

  #     - name: Get tag
  #       id: tag
  #       run: |
  #         echo ::set-output name=tag::$(git tag --sort=-creatordate | sed -n '1p')

  #     - name: Get previous tag
  #       id: previous-tag
  #       run: |
  #         echo ::set-output name=tag::$(git tag --sort=-creatordate | sed -n '2p')

  #     - name: Get release info
  #       id: release-info
  #       uses: pozetroninc/github-action-get-latest-release@master
  #       with:
  #         token: ${{ github.token }}
  #         excludes: draft
  #         repository: ${{ github.repository }}

  #     - name: Generate summary
  #       id: summary
  #       env:
  #         RELEASE_TITLE: "cedana"
  #         RELEASE_DESCRIPTION: "**${{ steps.tag.outputs.tag }}**"
  #         RELEASE_NOTES_URL: https://github.com/${{ github.repository }}/releases/${{ steps.tag.outputs.tag }}
  #         RELEASE_BODY: "${{ steps.release-info.outputs.description }}"
  #         TAG: ${{ steps.tag.outputs.tag }}
  #         BINARIES_DIR: current
  #         PREVIOUS_TAG: ${{ steps.previous-tag.outputs.tag }}
  #         PREVIOUS_BINARIES_DIR: previous
  #       run: |
  #         echo $RELEASE_BODY > $GITHUB_STEP_SUMMARY
  #         echo ::set-output name=slack-summary::$(scripts/ci/release-summary-slack)

  #     - name: Post summary
  #       id: slack-patch
  #       uses: slackapi/slack-github-action@v1.26.0
  #       env:
  #         SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL_RELEASE }}
  #         SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
  #       with:
  #         payload: |
  #           ${{ steps.summary.outputs.slack-summary }}
