name: Release

on:
  push:
    tags:
      - "*"
  workflow_dispatch:
    inputs:
      debug_test:
        type: boolean
        description: "Run tests with debugging enabled"
        required: false
        default: false
      debug_build_publish_amd64:
        type: boolean
        description: "Run build & publish (amd64 binary) with debugging enabled"
        required: false
        default: false
      debug_build_push_amd64_image:
        type: boolean
        description: "Run build & push (amd64 image) with debugging enabled"
        required: false
        default: false
      debug_build_push_arm64_image:
        type: boolean
        description: "Run build & push (arm64 image) with debugging enabled"
        required: false
        default: false
      post_summary:
        type: boolean
        description: "Post summary to slack"
        required: false
        default: false

permissions:
  contents: write

# Cancel any preceding run on the pull request.
concurrency:
  group: cedana-release-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  # test:
  #   name: Test
  #   uses: ./.github/workflows/pr.yml
  #   with:
  #     debug_build: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_test }}
  #     debug_smoke_test: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_test }}
  #     debug_regression_test: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_test }}

  build-publish-amd64:
    name: Build & Publish (amd64)
    runs-on: ubuntu-latest
    # needs: test
    container:
      image: golang:1.22-bullseye
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
          fetch-tags: true

      # issue when using custom container: https://github.com/actions/checkout/issues/1048
      - run: git config --global --add safe.directory /__w/cedana/cedana

      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y sudo
          sudo -E make -C scripts/ci setup-build

      - name: Setup debugging session
        uses: mxschmitt/action-tmate@v3
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_build_publish_amd64 }}
        with:
          limit-access-to-actor: true

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v4
        with:
          distribution: goreleaser
          args: release --clean --auto-snapshot
        env:
          GITHUB_TOKEN: ${{ secrets.GORELEASER_GITHUB_TOKEN }}

  build-push-image-manifest-amd64:
    name: Build & Push (amd64 image)
    runs-on: ubicloud-standard-2
    needs: test

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
          fetch-tags: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: |
            ghcr.io/cedana/cedana
            cedana/cedana-helper

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Setup debugging session
        uses: mxschmitt/action-tmate@v3
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_build_push_amd64_image }}
        with:
          limit-access-to-actor: true

      - name: Build and generate manifest for amd64
        id: build
        uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
        with:
          context: .
          push: true
          platforms: linux/amd64
          labels: ${{ steps.meta.outputs.labels }}
          outputs: |
            type=image,name=cedana/cedana-helper,push-by-digest=true,name-canonical=true,push=true
            type=image,name=ghcr.io/cedana/cedana,push-by-digest=true,name-canonical=true,push=true

      - name: Export digest
        run: |
          mkdir -p /tmp/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "/tmp/digests/${digest#sha256:}"

      - name: Upload digest amd64
        uses: actions/upload-artifact@v4
        with:
          name: digests-amd64
          path: /tmp/digests/*
          if-no-files-found: error
          retention-days: 1

  build-push-image-manifest-arm64:
    name: Build & Push (arm64 image)
    runs-on: ubicloud-standard-2-arm
    needs: test

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
          fetch-tags: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: |
            ghcr.io/cedana/cedana
            cedana/cedana-helper

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Setup debugging session
        uses: mxschmitt/action-tmate@v3
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_build_push_arm64_image }}
        with:
          limit-access-to-actor: true

      - name: Build and generate manifest for arm64
        id: build
        uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
        with:
          context: .
          push: true
          platforms: linux/arm64
          labels: ${{ steps.meta.outputs.labels }}
          outputs: |
            type=image,name=cedana/cedana-helper,push-by-digest=true,name-canonical=true,push=true
            type=image,name=ghcr.io/cedana/cedana,push-by-digest=true,name-canonical=true,push=true

      - name: Export digest
        run: |
          mkdir -p /tmp/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "/tmp/digests/${digest#sha256:}"

      - name: Upload digest arm64
        uses: actions/upload-artifact@v4
        with:
          name: digests-arm64
          path: /tmp/digests/*
          if-no-files-found: error
          retention-days: 1

  upload-manifests:
    name: Upload Manifests
    runs-on: ubicloud-standard-2
    needs: ["build-push-image-manifest-arm64", "build-push-image-manifest-amd64"]
    permissions:
      contents: read
      packages: write
    steps:
      - name: Download digests
        uses: actions/download-artifact@v4
        with:
          path: /tmp/digests
          pattern: digests-*
          merge-multiple: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/cedana/cedana
            cedana/cedana-helper

      - name: Create manifest list and push
        working-directory: /tmp/digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf 'ghcr.io/cedana/cedana@sha256:%s ' *)
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf 'cedana/cedana-helper@sha256:%s ' *)

      - name: Inspect image
        run: |
          # check if push was successful
          docker buildx imagetools inspect cedana/cedana-helper:${{ steps.meta.outputs.version }}
          docker buildx imagetools inspect ghcr.io/cedana/cedana:${{ steps.meta.outputs.version }}
          # check if commit sha matches with the latest commit sha
          # we only match docker hub image as both images should be the same
          echo $(docker run -i --rm cedana/cedana-helper:${{ steps.meta.outputs.version }} -c "cedana -v")

  post-summary:
    name: Post Summary
    runs-on: ubuntu-latest
    needs: ["build-publish-amd64"]
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
          fetch-tags: true

      - name: Get release info
        id: release-info
        uses: jossef/action-latest-release-info@v1.2.1
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Get previous tag
        id: previous-tag
        run: |
          echo ::set-output name=tag::$(git tag --sort=-creatordate | sed -n '2p')

      - name: Download binary
        uses: robinraju/release-downloader@v1
        id: download
        with:
          tag: ${{ steps.release-info.outputs.tag_name }}
          fileName: '*amd64.tar.gz'
          extract: true
          token: ${{ github.token }}
          out-file-path: current

      - name: Download previous binary
        uses: robinraju/release-downloader@v1
        id: download-previous
        with:
          tag: ${{ steps.previous-tag.outputs.tag }}
          fileName: '*amd64.tar.gz'
          extract: true
          token: ${{ github.token }}
          out-file-path: previous

      - name: Generate summary
        id: summary
        env:
          RELEASE_TITLE: cedana ${{ steps.release-info.outputs.tag_name }}
          RELEASE_DESCRIPTION: ${{ steps.release-info.outputs.created_at }}
          RELEASE_NOTES_URL: https://github.com/cedana/cedana-gpu/releases/${{ steps.release-info.outputs.tag_name }}
          RELEASE_BODY: ${{ steps.release-info.outputs.draft }}
          TAG: ${{ github.ref }}
          BINARY: current/cedana
          PREVIOUS_TAG: ${{ steps.previous-tag.outputs.tag }}
          PREVIOUS_BINARY: previous/cedana
        run: |
          scripts/ci/release-summary-slack > $GITHUB_STEP_SUMMARY
          echo ::set-output name=slack-summary::$(scripts/ci/release-summary-slack)

#       - name: Post summary
#         if: ${{ (github.event_name != 'workflow_dispatch') || (inputs.post_summary) }}
#         id: slack-patch
#         uses: slackapi/slack-github-action@v1.26.0
#         env:
#           SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL_RELEASE }}
#           SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
#         with:
#           payload: |
#             ${{ steps.summary-patch.outputs.slack-summary }}

