name: Release

on:
  push:
    tags:
      - "*"
  workflow_dispatch:
    inputs:
      debug_build:
        type: boolean
        description: "Run build with debugging enabled"
        required: false
        default: false
      debug_test:
        type: boolean
        description: "Run tests with debugging enabled"
        required: false
        default: false
      debug_bench:
        type: boolean
        description: "Run benchmark with debugging enabled"
        required: false
        default: false
      debug_publish:
        type: boolean
        description: "Run publish with debugging enabled"
        required: false
        default: false

concurrency:
  group: ${{ github.repository }}-release-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      debug: ${{ startsWith(github.event_name, 'workflow') && inputs.debug_build }}
      cedana: true
      plugins: true
      image: true

  download:
    name: Download
    uses: ./.github/workflows/download.yml
    secrets: inherit
    with:
      criu_version: release
      gpu_version: main
      streamer_version: main
      helm_chart_version: main
      controller_version: main
      runtime_shim_version: cedana

  test:
    name: Test
    uses: ./.github/workflows/test.yml
    needs: [build, download]
    secrets: inherit
    with:
      debug: ${{ startsWith(github.event_name, 'workflow') && inputs.debug_test }}

  bench:
    name: Bench
    uses: ./.github/workflows/bench.yml
    needs: [build, download]
    secrets: inherit
    with:
      debug: ${{ startsWith(github.event_name, 'workflow') && inputs.debug_bench }}
      samples: 2
      post_summary_pr: false
      post_summary_slack: default
      comparison_previous: true
      comparison_runtime: true
      push_results: true
      results_dataset: cedana

  publish:
    name: Publish
    uses: ./.github/workflows/publish.yml
    needs: [test, bench]
    secrets: inherit
    with:
      debug: ${{ startsWith(github.event_name, 'workflow') && inputs.debug_publish }}
      github: true
      cloudsmith: true
      dockerhub: true
      dockerhub_latest: true
      post_summary: true
