name: Test

on: [push]

concurrency:
  group: cedana-test-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test (smoke):
    runs-on: ubicloud-standard-8
    steps:
      - uses: actions/checkout@v3

      - name: Setup CI
        run:  sudo -E make -C scripts/ci setup-full

      - name: Run smoke tests
        env:
          CI_BRANCH: ${{ github.ref_name }}
          DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
        run: sudo -E make -C scripts/ci smoke

  test (regression):
    runs-on: ubicloud-standard-8
    steps:
      - uses: actions/checkout@v3

      - name: Setup CI
        run:  sudo -E make -C scripts/ci setup-full

      - name: Run regression tests
        env:
          CI_BRANCH: ${{ github.ref_name }}
        run: sudo -E make -C scripts/ci regression
