name: Test

on: [push]

jobs:
   test:
    runs-on: ubicloud-standard-8
    steps:

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.20'

      - name: Run smoke tests
        env:
          CI_BRANCH: ${{ github.ref_name }}
          DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
        run: sudo -E make -C scripts/ci smoke
